   <section class="contact-container">

  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>

      <div class="contactform">
    <h1> We want to hear from you!</h1>
<%= form_tag contact_submit_path do %>
  <p class="name_label">
   <%= label_tag :name %>
   <br>
   <br>
   <%= text_field_tag :name %>
  </p>
  <br>
  <br>
  <p class="email_label">
   <%= label_tag :email %>
   <br>
   <br>
   <%= email_field_tag :email %>
   <br>
   <br>
  </p>
  <p class="comment">
  <%= label_tag :content, "Note" %>
  <br>
  <br>
  <%= text_area_tag :content %>
  </p>
  <p><%= submit_tag "Submit" %></p>
 <% end %>
</div>
</section>
