<section class="heroes-container-1">
  <div class="heroes-1">

    <%= render 'carousel' %>
    <!-- search bar is in carousel partial -->

  </div>
</section>

<div class="search-container">

  <div class="search">
    <div class='search-bar'>
      <%= form_tag(controller: "venues", action: "search", method: "get") do %>
      <%= text_field_tag(:venue, nil, placeholder: 'Where do you want to go?') %>
      <%= radio_button_tag(:gender, "m", true) %><%= label_tag(:gender_m, "Man") %>
      <%= radio_button_tag(:gender, "f") %><%= label_tag(:gender_f, "Woman") %>
      <br/>
    </div>
      <%= submit_tag("SEARCH") %>
      <% end %>
    </div>
  </div>

</div>


<section class="heroes-container-2">
  <div class="heroes-2">
    <div class="blurb-2">
      <h1>Tailored inspiration</h1>
      <h3>/ Intelligent algorithm that takes every factor into account: venue location, crowd and even weather. We pay attention so you don't have to /</h3>
    </div>
    <div class="image-2">
      <%= image_tag("shirts.png", :alt => :shirts) %>
    </div>
  </div>
</section>

<section class="heroes-container-3">
  <div class="heroes-3">

    <div class="image-3">
      <%= image_tag("mac.png", :alt => :shirts) %>
    </div>

    <div class="blurb-3">
      <h1>Powered by Zappos</h1>
      <h3>/ Thousands of clothing items from Zappos curated under one view /</h3>
    <div>
  </div>
</section>

<section class="heroes-container-4">
  <div class="heroes-4">
    <div class="blurb-4">
      <h1>Tick Tock Tag</h1>
      <h3>/ Are you a fashionista? Tag your outfits to your favorite venues /</h3>
    </div>
    <div class="image-4">
      <%= image_tag("tags.png")%>
    </div>

  </div>
</section>



<script src="assets/bootstrap.js"></script>

<%= javascript_tag do %>
    var venueNames = <%= @venue_names.to_json.html_safe %>
<% end %>

<script>
  $("#venue").autocomplete({
    source: venueNames
  });
</script>
