<div class="items-container">

<h2>What to wear at <%= @venue.name.titleize %> </h2>

  <div class="items">

    <% @item_search.each do |item| %>

      <div class="tagged-item">

        <div class="tagged-item-image">
          <a href="<%= item[:item_url] %>" target="_blank"><img src="<%= item[:img_url] %>" /></a>
        </div>

        <div class="tagged-items-text-info">
          <div><%= item[:brand] %></div>
          <div><%= item[:price] %></div>
        </div>

      </div>

    <% end %>

  </div>

  <div class="more">
    <a href="#"><span class="entypo-right-open-big"></span></a></br>
    <div class="add-tags"><%= link_to '+', items_index_path(:gender => @gender, :category => @category.sample, :tag => @venue.tags ) %>
    </div>
  </div>

</div>
