<div class="fixed-top">
  <div class="venue-menu-container">

    <div class="venue-menu">
      <h3><%= @venue.name.upcase %></h3>
      <ul>
        <li><a href="#">Details</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Tags</a></li>
      </ul>
    </div>

  </div>

  <%= render 'tab' %>

</div>

<div class="alternate-fixed-top">
  <div class="alternate-venue-menu-container">
    <div class="alternate-venue-menu">
      <h3>What to wear at <%= @venue.name.titleize %>?</h3>
      <ul>
        <li><a href="#" id='confirm'><span class="entypo-check"></span></a></li>
        <li><a href="#", id='back-home'><span class="entypo-cancel"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="venue-content">
  <section class="venue-items-container">
    <%= render 'show' %>
    <div class="add">
    </div>
  </section>
</div>

<%= javascript_tag do %>
  var categories = <%= @category.to_json.html_safe %>
<% end %>

<%= javascript_include_tag "venue.js" %>
