<%= @zappos_results.inspect %>
<%= @tag %>

<ul>
  <% @zappos_results.each do |z| %>
    <li>
      <img src="<%= z[:item][:img_url] %>" />
      <%= z[:item][:name] %>
      <%= z[:item][:brand] %>
      <%= z[:item][:price] %>

      <%= form_for(@item) do |f| %>
        <div class="hidden"><%= f.text_field :name, :value => z[:item][:name] %></div>
        <div class="hidden"><%= f.text_field :brand, :value => z[:item][:brand]  %></div>
        <div class="hidden"><%= f.text_field :price, :value => z[:item][:price]  %></div>
        <div class="hidden"><%= f.text_field :item_url, :value => z[:item][:item_url]  %></div>
        <div class="hidden"><%= f.text_field :img_url, :value => z[:item][:img_url]  %></div>
        <div class="hidden"><%= f.text_field :gender, :value => z[:item][:gender]  %></div>
        <div class="hidden"><%= f.text_field :gender, :value => z[:item][:gender]  %></div>
        <%= f.submit %>
      <% end %>
    </li>
  <% end %>
</ul>

